*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.header{
    width: 100%;
    display: flex;
    padding: 6px 10px;
    background-color: rgb(7, 116, 160);
    position: fixed;
    z-index: 5;
}
.header .logo{
    /* align center */
    display: inline-block;
    padding: 6px 0;
}
.header nav {
    width: 100%;
    text-align: right;
    padding: 3px 10px 0 0;
}
.header nav a{
    color: #FFF;
    text-decoration: none;
    /* align center */
    display: inline-block;
    line-height: 52px;
    padding: 0 10px;
}
.header nav a:hover{
    transform: translateY(-5px);
    color:rgb(250, 173, 6);
    transition: .3s;
}
.banner{
    width: 100%;
    height: 100vh;
    background-color: #ccc;
    background: linear-gradient(90deg, rgb(6, 157, 216) 50%, transparent 50%) left center / 100% 100%,
                url(https://picsum.photos/1200/600/?random=1) right center / auto 100%;
                box-sizing: content-box;
}
.container{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.container .banner-txt{
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.container  h1{
    padding-bottom: 0.3em;
    border-bottom: 1px solid ;
}
.container small{
    display: block;
}
.container h2{
    padding-top: 0.3em;
}
.wrap{
    background-color: rgb(7, 116, 160);
}
.wrap .container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}
.wrap .item{
    float: left;
    box-sizing: border-box;
    position: relative;
}
.wrap .item:first-child{
    width: 100%; 
}
/* 選取第二個以後的所有item */
.wrap .item:first-child ~ .item{
    width: 50%;
}
.wrap img{
    width: 100%;
    vertical-align: middle;
}
.wrap .interactive-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.7);
    color: #fff;
    opacity: 0;
    transition: 0.7s;
}
.wrap .item:hover .interactive-text{
    opacity: 1;
}
.footer{
    width: 100%;
    background-color: rgb(7, 116, 130);
    display: flex;
}
.footer .footer-item {
    width: 20%;
    margin: auto;
    
}
.footer .footer-item a{
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.footer .footer-item a:hover{
    color: rgb(250, 173, 6);
    font-weight: bold;
    transition: .3s;
}
.footer .contact{
    display: flex;
    right: 0;
}
.footer .contact a{
    margin: 0 5px 0 5px;
    transform: translateY(0);
}
.footer .contact a:hover{
    transform: translateY(-5px);
    transition: .3s;
}
.footer .contact i{
    color: #fff;
    padding: 1em;
}
.copyright{
    background-color:  rgb(7, 116, 130);
    color: #fff;
    text-align: center;
    padding: 1em;
}